* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 600px;
    display: flex;
}
.garden {
    width: 100%;
    background-image: url(gramas.png);
    position: absolute;
    background-position: bottom;
    background-repeat: repeat-x;
    align-self: flex-end;
}
.holandesa {
    width: 533px;
    height: 159px;
    background-image: url(holandesa.png);
    position: relative;
    margin-left: 5%;
    margin-top: 2.9%;
    background-position-y: bottom;
}
.casinha {
    width: 583px;
    height: 277px;
    background-image: url(casinha.png);
    position: relative;
    background-position: bottom;
    float: right;
    
}
.moinhos img {
    animation: moinhos 1.5s infinite;
    animation-timing-function: linear;
}
.mini-moinho {
    position: absolute;
    right: 60%;
    top: 25%;
    transform: translate(-50%);
    z-index: -1;
}
.moinho {
    position: absolute;
    right: -6.5%;
    top: -20%;
    z-index: -1;
}

@keyframes moinhos {

    100% {
        transform: rotate(360deg)
    }
}